<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/fonts') %>
        <title>Home</title>
        <link rel="stylesheet" href="/style.css">
</head>

<body class="font-[Inter] ">


    <div class="bg-gray-100 min-h-screen px-4 pt-6 pb-2">
        <%- include('homePartials/profile') %>
            <%- include('homePartials/menu') %>

                <h1 class="text-3xl p-4  font-bold text-[#6d74fc] mt-5">
                    Let’s Find <br />
                    <span class="text-4xl">New Friends</span>
                </h1>

                <%- include('homePartials/navigation') %>

                    <%- include('homePartials/rideDetails') %>
                        <%- include('homePartials/current') %>

                            <%- include('homePartials/available') %>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/home/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

</html>